<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{view.index.title}">Edytuj mechanica</title>
    <meta th:replace="fragments/header :: head"/>
    <meta th:replace="fragments/person_edit_form :: head"/>
    <script src="/resources/js/mechanics.js" th:src="@{/resources/js/mechanics.js}"></script></head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <div class="jumbotron text-center jumbo-form">
        <h3>Edytuj mechanika:</h3>
        <form id="editMechanicForm" name="addPersonForm" class="form-horizontal" action="#" th:object="${mechanic}" onsubmit="return editMechanic();">
            <meta th:replace="fragments/person_edit_form :: personEditForm"/>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Edytuj</button>
                <a class="btn btn-warning" href="/admin/employees/mechanics">Anuluj</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>