<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{view.index.title}">Panel klienta</title>
    <meta th:replace="fragments/header :: head"/>
    <!--<script src="/resources/js/client.js" th:src="@{/resources/js/client.js}"></script>-->
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <div class="jumbotron text-center">
        <h2>Wybierz samochód:</h2>
        <div class="list-group" th:each="car : ${cars}">
            <a th:href="|/cars/${car.id}|" class="btn btn-default">
                <h4 class="list-group-item-heading" th:text="|${car.make} ${car.model}"></h4>
                <span class="glyphicon glyphicon-chevron-right" th:text="|(VIN:${car.vin})|">
                </span>
            </a>
        </div>
    </div>
</div>
</body>
</html>