<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title th:text="#{view.index.title}">Welcome!</title>
    <meta th:replace="fragments/header :: head"/>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <!-- /* Handle the flash message */-->
    <th:block th:if="${message != null}">
        <!-- /* The message code is returned from the @Controller */ -->
        <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">&nbsp;</div>
    </th:block>
    <div sec:authorize="hasRole('ROLE_DIRECTOR')" th:replace="admin/panel :: admin_panel"></div>
    <div sec:authorize-url="/clients/@(account.id)" sec:authorize="hasRole('ROLE_CLIENT')" th:replace="clients/overview :: client_panel"></div>
</div>
</body>
</html>