<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome to the Spring MVC Quickstart application! Get started quickly by signing up!</title>
    <meta th:replace="fragments/header :: head"/>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>
<div class="container">
    <div class="text-center">
        <h1>Witamy w serwisie mechanicznym. </h1>
        <div class="col-lg-6">
            <p style="float: right;">
                <a href="/signup" th:href="@{/signup}" class="btn btn-success btn-lg">Zarejestruj się</a>
            </p>
        </div>
        <div class="col-lg-6">
            <p style="float: left;">
            <a href="/signup" th:href="@{/signin}" class="btn btn-success btn-lg">Zaloguj się</a>
            </p>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer">&copy; 2017 auto-ckz</div>
</div>
</body>
</html>