<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{view.index.title}">Panel klienta</title>
    <meta th:replace="fragments/header :: head"/>
    <!--<script src="/resources/js/client.js" th:src="@{/resources/js/client.js}"></script>-->
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group" th:each="car : ${cars}">
                <button type="button" class="list-group-item"
                        th:text="|${car.make} ${car.model} (${car.vin})|" />
            </div>
        </div>

    </div>
</div>
</body>
</html>