<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{view.index.title}">Usuń mechanika</title>
    <meta th:replace="fragments/header :: head"/>
    <script src="/resources/js/mechanics.js" th:src="@{/resources/js/mechanics.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <div class="jumbotron text-center jumbo-form" th:object="${mechanic}">
        <h3>Czy na pewno chcesz usunąć tego mechanika?</h3>
        <table class="table table-bordered">
            <tr>
                <td>id: </td>
                <td id="mechanicId" th:text="${mechanic.id}"></td>
            </tr>
            <tr>
                <td>imie: </td>
                <td th:text="${mechanic.firstName}"></td>
            </tr>
            <tr>
                <td>nazwisko: </td>
                <td th:text="${mechanic.lastName}"></td>
            </tr>
            <tr>
                <td>pesel: </td>
                <td th:text="${mechanic.pesel}"></td>
            </tr>
            <tr>
                <td>numer telefonu: </td>
                <td th:text="${mechanic.phoneNumber}"></td>
            </tr>

        </table>
        <div class="form-group">
            <button type="submit" class="btn btn-danger" onclick="return deleteMechanic();">Usuń</button>
            <a class="btn btn-warning" href="/admin/mechanics">Anuluj</a>
        </div>
    </div>
</div>
</body>
</html>