<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{view.index.title}">Dodaj klienta</title>
    <meta th:replace="fragments/header :: head"/>
    <meta th:replace="fragments/person_add_form :: head"/>
    <script src="/resources/js/clients.js" th:src="@{/resources/js/clients.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
    <div class="container">
        <div class="jumbotron text-center jumbo-form">
            <h3>Dodaj klienta:</h3>
            <form id="addClientForm" name="addPersonForm" class="form-horizontal" action="#" th:object="${client}" onsubmit="return addClient();">
                <meta th:replace="fragments/person_add_form :: personAddForm"/>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Dodaj</button>
                    <a class="btn btn-warning" href="/admin/clients">Anuluj</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>