<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="head" th:remove="tag">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}" property="bootstrap"/>
    <link href="/resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" property="core"/>
    <script src="/resources/js/jquery-3.1.1.min.js"></script>
    <script src="/resources/js/jquery.validate.min.js"></script>
    <script src="/resources/js/bootstrap.min.js"></script>
    <script src="/resources/js/utils.js"></script>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Demo project</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#" th:href="@{/}">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li sec:authorize="hasRole('ROLE_DIRECTOR')" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Tabele <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="navbar-link" th:href="@{/admin/clients}">Klienci</a>
                        </li>
                        <li>
                            <a class="navbar-link" th:href="@{/admin/employees/mechanics}">Mechanicy</a>
                        </li>
                        <li>
                            <a class="navbar-link" th:href="@{/admin/employees/customer_service}">Obsługa klienta</a>
                        </li>
                        <li>
                            <a class="navbar-link" th:href="@{/admin/summary}">Zyski</a>
                        </li>
                        <li role="separator" class="divider"></li>
                    </ul>
                </li>
                <li th:if="${#authorization.expression('!isAuthenticated()')}">
                    <a href="/signin" th:href="@{/signin}">
                        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;Sign in
                    </a>
                </li>
                <li th:if="${#authorization.expression('isAuthenticated()')}">
                    <a href="/logout" th:href="@{#}" onclick="$('#form').submit();">
                        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Logout
                    </a>
                    <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
</body>
</html>